.hero {
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 0;
}

.header-logo__wrapper,
.nav-items__wrapper {
  display: flex;
  align-items: center;
}
.header-logo__label {
  font-family: $futura-round-font;
  padding-left: 8px;
  padding-top: 6px;
  color: $black-color;
  font-weight: 700;
  font-size: 29px;
  letter-spacing: -0.04em;
  white-space: nowrap;
}

.header-item {
  font-family: $rubik-font;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.04em;
  color: $black-color;
  white-space: nowrap;
}
.header-item:hover {
  color: $green-color;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}
@media screen and (max-width: 992px) {
  .header-item:not(:last-child) {
    margin-right: 15px;
  }
  .header-item {
    font-size: 14px;
  }
  .header-logo__label {
    font-size: 23px;
  }
}

.hero-body {
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  .hero-content__wrapper {
    max-width: 608px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-image__wrapper {
    img {
      width: 100%;
      background-size: cover;
    }
  }
}
@media screen and (max-width: 767px) {
  .hero-image__wrapper {
    max-width: 100%;
  }
  .nav-items__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 90px;
    right: 10px;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
  }
  .header-items__wrapper.open {
    height: 108px;
  }
  .header-item {
    margin-bottom: 10px;
  }

  .menu-burger {
    display: flex;
  }
  .hero-content__wrapper,
  .hero-content__button {
    width: 100% !important;
  }
}
@media screen and (min-width: 767px) {
  .menu-burger {
    display: none;
  }
}
@media screen and (min-width: 425px) {
  .hero-content__wrapper {
    margin-top: 191px;
  }
}
@media screen and (max-width: 425px) {
  .hero-content__wrapper {
    margin-top: 228px;
  }
}
.menu-burger {
  position: absolute;
  top: 22px;
  right: 25px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.burger-element-1,
.burger-element-2,
.burger-element-3 {
  position: absolute;
  right: 0;
  width: 30px;
  height: 4px;
  background-color: $green-color;
  border-radius: 5px;
  box-shadow: 0 2px 5px $green-color;
  transition: all 0.5s ease-in-out;
}
.burger-element-1 {
  top: 25px;
}
.burger-element-2 {
  top: 35px;
}
.burger-element-3 {
  top: 45px;
}
.menu-burger.open {
  .burger-element-1 {
    transform: translateY(10px) rotate(45deg);
  }
  .burger-element-2 {
    transform: translateX(-50px);
    opacity: 0;
  }
  .burger-element-3 {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.hero-image__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.hero-content__wrapper {
  display: flex;
  flex-direction: column;
}

.hero-content__description {
  font-family: $futura-round-font;
  color: $gray-color;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.02em;
  margin: 25px 0 41px;
}

.hero-content__button {
  
}
