@import "./variables";
body {
  background-color: $primary-bg-color;
}

h1 {
  font-family: $potta-one-font;
  font-weight: normal;
  font-style: normal;
  font-size: 69px;
  line-height: 80px;
  letter-spacing: 0.016em;
}
h2 {
  font-family: $potta-one-font;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 0.055em;
  margin: 0 10px;
}
.section__wrapper {
  padding: 0 calc(50%-674px);
}
@media screen and (max-width: 1200px) {
  .section__wrapper {
    padding: 0 calc(50%-570px);
  }
}
@media screen and (max-width: 992px) {
  .section__wrapper {
    padding: 0 calc(50%-480px);
  }
  h1 {
    font-size: 49px;
  }
}
@media screen and (max-width: 768px) {
  .section__wrapper {
    padding: 0 calc(50%-360px);
  }
  .green-btn-big{
    width: 100% !important;
  }
}
@media screen and (max-width: 425px) {
  h1,
  h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

.span-style-1 {
  font-style: normal;
  font-weight: normal;
  font-family: $futura-round-font;
  font-size: 18px;
  line-height: 26px;
  color: $black-color;
  letter-spacing: 0.015em;
}
.green-btn-small {
  align-items: center;
  padding: 4px 8px;
  height: 32px;
  background-color: $green-color;
  color: $white-color;
  border-radius: 40px;
}
.green-btn-big{
  width: 219px;
  height: 64px;
  border-radius: 8px;
  background-color: $green-color;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  font-family: $futura-round-font;
  letter-spacing: 0.07em;
}
