@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNovaRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/AFuturaRoundTitulSh.ttf") format("truetype");
}

// Colors
$black-color: #303031;
$green-color: #71a894;
$primary-bg-color: #e5e5e5;
$light-gold-color: #f3f0ea;
$gray-color: #66645e;
$white-color: #fff;

// Fonts

$rubik-font: "Rubik", sans-serif;
$potta-one-font: "Potta One", cursive;
$futura-round-font: "Futura Round", sans-serif;// $proxima-nova-font: "Proxima Nova", sans-serif;
